/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}
